{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    User #{{ owner.pk }} orders
{% endblock %}

{% block body %}
    <h1>Orders of {{ owner.username }}</h1>
    <div>
        {% if order_list %}
            {% cache 300 user_orders owner.pk %}
            <h2>This user made {{ order_list|length }} orders:</h2>
            <ul>
                {% for order in order_list %}
                <li>
                    <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">
                        Order #{{ order.pk }}
                    </a></p>
                    <p>Promocode: {{ order.promocode }}</p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                    <ul>
                        {% for product in order.products.all %}
                        <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>

                </li>
                {% endfor %}
            </ul>
            {% endcache %}
        {% else %}
            <h3>No orders by user {{ owner.username }} yet</h3>
        {% endif %}
    </div>
{% endblock %}
