{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}


{% block body %}
  <h1>User info</h1>
  {% if user.is_authenticated %}
    <h2>Detail</h2>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    {% if user.profile.avatar %}
      <p>Avatar:</p>
      <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}"><br>
    {% else %}
      <p>Avatar: No avatar image yet</p>
    {% endif %}

    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update avatar">
    </form>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
  <div>
    <br>
    <a href="{% url 'myauth:users' %}">Users list</a>
  </div>
{% endblock %}
